<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Words" version="25.3.0" targetFramework="net48" />
  <package id="BouncyCastle.Cryptography" version="2.3.1" targetFramework="net48" />
  <package id="Costura.Fody" version="6.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="CsvHelper" version="27.2.1" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml" version="3.2.0" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.2.0" targetFramework="net48" />
  <package id="Enums.NET" version="4.0.1" targetFramework="net48" />
  <package id="ExtendedNumerics.BigDecimal" version="2025.1001.2.129" targetFramework="net48" />
  <package id="Fody" version="6.8.2" targetFramework="net48" developmentDependency="true" />
  <package id="HtmlAgilityPack" version="1.11.36" targetFramework="net48" />
  <package id="itext" version="9.1.0" targetFramework="net48" />
  <package id="itext.commons" version="9.1.0" targetFramework="net48" />
  <package id="itext7" version="9.1.0" targetFramework="net48" />
  <package id="MathNet.Numerics.Signed" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.3.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.1" targetFramework="net48" />
  <package id="Microsoft.Maui.Graphics" version="8.0.92" targetFramework="net48" />
  <package id="MsgReader" version="5.7.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="OpenMcdf" version="2.3.1" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.8.6" targetFramework="net48" />
  <package id="RtfPipe" version="2.0.7677.4303" targetFramework="net48" />
  <package id="SharpZipLib" version="1.4.2" targetFramework="net48" />
  <package id="SixLabors.Fonts" version="1.0.1" targetFramework="net48" />
  <package id="SixLabors.ImageSharp" version="2.1.9" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="8.0.10" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Pkcs" version="8.0.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Xml" version="8.0.2" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="taglib-sharp-netstandard2.0" version="2.1.0" targetFramework="net48" />
  <package id="UTF.Unknown" version="2.5.1" targetFramework="net48" />
  <package id="VCardReader" version="1.2.3" targetFramework="net48" />
</packages>